body {
  margin: 0;
  font-family:"Robooto",arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: antiquewhite;
  background-image: url("https://media2.giphy.com/media/UoxwvELuSl8Dnc4LSz/giphy.gif?cid=ecf05e470bxr340wutym0i3ip6dh6hp98uq9zgf858dl8r6g&rid=giphy.gif&ct=g");
  background-size: cover;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
